{% extends "base.html" %}
{% block content %}
<b><h1>Profile Page</h1></b>
<hr>
{% if messages %}
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
        <div class="toast-header">
            <strong class="me-auto">Congratulations</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {% for message in messages %}
                <p {% if message.tags %} class="{{message.tags}}" {%endif%} >{{ message }}</p>   
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class= "d-flex gap-5 m-5">
    <a href="{% url 'passChange' %}" class="btn btn-outline-success">Password Change 1</a>
    <a href="{% url 'passChange2' %}" class="btn btn-outline-success">Password Change 2</a>
</div>


<script>
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function(toastEl) {
        return new bootstrap.Toast(toastEl)
    })
    if (toastList.length > 0) {
        toastList.forEach(toast => toast.show())
    }
</script>
{% endblock %}
